<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BankPWA - Account</title>
    <link rel="stylesheet" href="public/styles/homeStyle.css" />
    <link href="https://fonts.cdnfonts.com/css/credit-card" rel="stylesheet" />
  </head>
  <body>
    <div id="backgroud"></div>
    <div id="menu-backgroud">
      <div class="menu-logo">
        <img src="public/images/LogoHorizontal.png" id="github-link" />
      </div>
    </div>

    <div id="menu-left"></div>

    <div id="menu-center">

      <body>
        <div class="main-container">

          <div class="stats-info">
            <div class="graph-container">
              <div class="percent">
                <svg viewBox="0 0 36 36" class="circular-chart">
                  <path class="circle" stroke-dasharray="100, 100" d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831" />
                  <path class="circle" stroke-dasharray="85, 100" d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831" />
                  <path class="circle" stroke-dasharray="60, 100" d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831" />
                  <path class="circle" stroke-dasharray="30, 100" d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831" />
                </svg>
              </div>
              <p>Total: $2075</p>
            </div>
      
            <div class="info">
              <p>Most expensive category <br /><span>Restaurants & Dining</span></p>
              <p>Updated categories <span>2</span></p>
              <p>Bonus payments <span>$92</span></p>
            </div>
          </div>

          <div class="year-stats">
            <div class="month-group">
              <div class="bar h-100"></div>
              <p class="month">Jan</p>
            </div>
            <div class="month-group">
              <div class="bar h-50"></div>
              <p class="month">Feb</p>
            </div>
            <div class="month-group">
              <div class="bar h-25"></div>
              <p class="month">Mar</p>
            </div>
            <div class="month-group selected">
              <div class="bar h-75"></div>
              <p class="month">Apr</p>
            </div>
            <div class="month-group">
              <div class="bar h-50"></div>
              <p class="month">May</p>
            </div>
            <div class="month-group">
              <div class="bar h-25"></div>
              <p class="month">Jun</p>
            </div>
            <div class="month-group">
              <div class="bar h-75"></div>
              <p class="month">Jul</p>
            </div>
            <div class="month-group">
              <div class="bar h-25"></div>
              <p class="month">Aug</p>
            </div>
            <div class="month-group">
              <div class="bar h-50"></div>
              <p class="month">Sep</p>
            </div>
            <div class="month-group">
              <div class="bar h-75"></div>
              <p class="month">Oct</p>
            </div>
            <div class="month-group">
              <div class="bar h-25"></div>
              <p class="month">Nov</p>
            </div>
            <div class="month-group">
              <div class="bar h-100"></div>
              <p class="month">Dec</p>
            </div>
          </div>
      
        </div>
      </body>

    </div>

    <div id="window-center-1">
      <img class="bitcoin" src="public/images/bitcoin.png" />
      <p class="name">Bitcoin</p>
      <p class="index">BTC</p>
      <p class="coin-price" id="bitcoin-price">$63,268.20</p>
      <!-- Placeholder for Bitcoin price -->
    </div>
    <div id="window-center-2">
      <img class="ethereum" src="public/images/ethereum.png" />
      <p class="name">Ethereum</p>
      <p class="index">ETH</p>
      <p class="coin-price" id="ethereum-price">$3,054.86</p>
      <!-- Placeholder for Ethereum price -->
    </div>
    <div id="window-center-3">
      <img class="binance" src="public/images/binance.png" />
      <p class="name">Binance</p>
      <p class="index">BNB</p>
      <p class="coin-price" id="binance-price">$549.04</p>
      <!-- Placeholder for Binance Coin price -->
    </div>

    <div id="menu-profile-right">
      <img src="public/images/person_crop_circle.png" />
      <p><span id="username-display"></span></p>
    </div>

    <div class="sign-out-right">
      <a href="/" class="menu-link">
        <div class="logout-btn">
          <i class="gg-log-out"></i>
        </div>
      </a>
    </div>

    <div id="menu-right">
      <p class="wallet-text">Online Wallet</p>

      <div class="credit-card">
        <p class="balance-text">BALANCE</p>
        <p class="balance-account">$7,286.13</p>
        <p class="card-username"><span id="card-member-display"></span></p>
        <p class="exp-date">03/29</p>
      </div>

      <div class="visa-logo">
        <img src="public/images/VISA.png" />
      </div>

      <div class="amount-enter">
        <input
          id="amountInput"
          type="text"
          placeholder="Enter amount USD"
          required
          autocomplete="off"
        />
      </div>
      

      <div class="deposit-btn">
        <button type="button" class="deposit">DEPOSIT</button>
      </div>
      <div class="withdraw-btn">
        <button type="button" class="withdraw">WITHDRAW</button>
      </div>
    </div>

    <div id="window-right-helper">
        <p class="sidetext">WITHDRAWS</p>
        <p class="amount-wit">- $2005</p>
        <p class="amount-wit">- $1600</p>
        <p class="amount-wit">- $2011</p>
    </div>

    <div id="window-right-helper2">
        <p class="sidetext2">DEPOSITS</p>
        <p class="amount-wit2">+ $1800</p>
        <p class="amount-wit2">+ $9000</p>
        <p class="amount-wit2">+ $2200</p>
        <p class="amount-wit2">+ $8000</p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.23/vanta.net.min.js"></script>
    <script src="public/script.js"></script>
    <script>
      VANTA.NET({
        el: "#backgroud",
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 200.0,
        minWidth: 200.0,
        scale: 1.0,
        scaleMobile: 1.0,
        color: 0x31a121,
        backgroundColor: 0x000000,
      });

      var username = "<%= username %>";
      var firstname = "<%= firstname %>";
      var surname = "<%= surname %>";
    </script>
  </body>
</html>
