<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BankPWA - Account</title>
    <link rel="stylesheet" href="public/styles/homeStyle.css" />
    <link href="https://fonts.cdnfonts.com/css/credit-card" rel="stylesheet" />
  </head>
  <body>
    <div id="backgroud"></div>
    <div id="menu-backgroud">
      <div class="menu-logo">
        <img src="public/images/LogoHorizontal.png" id="github-link" />
      </div>
    </div>

    <div id="menu-left">
      <div class="shortcuts">
        <div class="shortcut">
          <div class="icon">
            <img src="images/chart_bar_circle_fill.png" />
          </div>
          <button class="market-shortcut" id="market-link">Market</button>
        </div>

        <div class="shortcut-dashboard">
          <div class="icon">
            <img src="images/dashboard.png" />
          </div>
          <button class="dashboard-shortcut">Dashboard</button>
        </div>

        <div class="shortcut">
          <div class="icon">
            <img src="images/envelope_badge_fill.png" />
          </div>
          <button class="news-shortcut" id="news-link">News</button>
        </div>

        <div class="shortcut">
          <div class="icon">
            <img src="images/binance_menu.png" />
          </div>
          <button class="binance-shortcut" id="binance-link">Binance</button>
        </div>

        <div class="shortcut">
          <div class="icon">
            <img src="images/logo_twitter.png" />
          </div>
          <button class="twitter-shortcut" id="twitter-link">Twitter</button>
        </div>

        <div class="buy-coffee">
          <img src="images/buymeacoffee.png" id="coffee-link" />
        </div>
      </div>
    </div>

    <div id="menu-center">
      <div class="center-backgroud">
        <div class="profit-text">
          <p>Profit</p>
          <p class="profit-value" id="balance">$0</p>
        </div>
        <div class="horizontal-line-profit"></div>

        <div class="income-expenses-text">
          <p class="income-text">Income</p>
          <p class="expenses-text">Expenses</p>
        </div>

        <div class="income-expenses-value">
          <p class="income-value" id="income-value">$0</p>
          <p class="expenses-value" id="expenses-value">$0</p>
        </div>

      </div>
    </div>

    <div id="window-center-1">
      <img class="bitcoin" src="public/images/bitcoin.png" />
      <p class="name">Bitcoin</p>
      <p class="index">BTC</p>
      <p class="coin-price" id="bitcoin-price">
        <span id="bitcoin-price-display" style="color: #fff"></span>
      </p>
      <p class="coin-change" id="bitcoin-change">
        <span id="bitcoin-change-display" style="color: #fff"></span>
      </p>
      <!-- Placeholder for Bitcoin price -->
    </div>
    <div id="window-center-2">
      <img class="ethereum" src="public/images/ethereum.png" />
      <p class="name">Ethereum</p>
      <p class="index">ETH</p>
      <p class="coin-price" id="ethereum-price">
        <span id="ethereum-price-display" style="color: #fff"></span>
      </p>
      <p class="coin-change" id="ethereum-change">
        <span id="ethereum-change-display" style="color: #fff"></span>
      </p>
      <!-- Placeholder for Ethereum price -->
    </div>
    <div id="window-center-3">
      <img class="binance" src="public/images/binance.png" />
      <p class="name">Binance</p>
      <p class="index">BNB</p>
      <p class="coin-price" id="binance-price">
        <span id="binance-price-display" style="color: #fff"></span>
      </p>
      <p class="coin-change" id="binance-change">
        <span id="binance-change-display" style="color: #fff"></span>
      </p>
      <!-- Placeholder for Binance Coin price -->
    </div>

    <div id="menu-profile-right">
      <img src="public/images/person_crop_circle.png" />
      <p><span id="username-display"></span></p>
    </div>

    <div class="sign-out-right">
      <a href="/" class="menu-link" onclick="logout()">
        <div class="logout-btn">
          <i class="gg-log-out"></i>
        </div>
      </a>
    </div>

    <div id="menu-right">
      <p class="wallet-text">Online Wallet</p>

      <div class="credit-card">
        <p class="balance-text">BALANCE</p>
        <p class="balance-account" id="balance-account">$0</p>
        <p class="card-username"><span id="card-member-display"></span></p>
        <p class="exp-date">03/29</p>
      </div>

      <div class="visa-logo">
        <img src="public/images/VISA.png" />
      </div>

      <div class="amount-enter">
        <p class="sell-text">Sell</p>
        <input
          id="amountInputSell"
          type="text"
          maxlength="8"
          placeholder="Enter amount"
          required
          autocomplete="off"
        />
        <p class="USD-text">USD</p>
      </div>
      <div class="horizontal-line" style="background-color: red"></div>

      <div class="amount-enter" style="margin-top: 0">
        <p class="sell-text">Buy</p>
        <input
          id="amountInputBuy"
          type="text"
          maxlength="8"
          placeholder="Enter amount"
          required
          autocomplete="off"
        />
        <p class="USD-text">USD</p>
      </div>
      <div class="horizontal-line" style="background-color: #16dd16"></div>

      <div class="exchange-button">
        <button class="exchange" onclick="exchangeButton()">Exchange</button>
      </div>
    </div>

    <div id="menu-recent-transactions">
      <div class="form-container-transactions">
        <p class="text-recent-transactions">Recent transactions</p>
        <p class="text-transactions-all">All</p>
      </div>

      <div class="transactions">
        <div id="transaction-1" class="transaction-number-1">
          <img src="images/money_dollar_circle.png" />
          <div class="transaction-text">
            <p class="transaction-title">Sell</p>
            <p class="transaction-amount" id="transaction-amount-1">- $0</p>
          </div>
        </div>
        <div id="transaction-2" class="transaction-number-2">
          <img src="images/money_dollar_circle.png" />
          <div class="transaction-text">
            <p class="transaction-title">Buy</p>
            <p class="transaction-amount" id="transaction-amount-2">+ $0</p>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.23/vanta.net.min.js"></script>
    <script src="public/script.js"></script>
    <script src="public/link-script.js"></script>
    <script src="public/fetchingCrypto.js"></script>

    <script>
      VANTA.NET({
        el: "#backgroud",
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 200.0,
        minWidth: 200.0,
        scale: 1.0,
        scaleMobile: 1.0,
        color: 0x31a121,
        backgroundColor: 0x000000,
      });

      var username = "<%= username %>";
      var firstname = "<%= firstname %>";
      var surname = "<%= surname %>";
    </script>
  </body>
</html>
