<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BankPWA SignUp</title>
    <link rel="stylesheet" href="/registerStyle.css">
  </head>
  
  <body>
    <div id="backgroud"></div>

    <a href="/" class="menu-link">
      <div class="menu-button">
        <div></div>
      </div>
    </a>
    

    <div class="form-container">  
      <img src="public/images/Logo.png"/>

      <h1>Sign up</h1>
      <h3>Please fill up the fields to sign up</h3>

      <form action="/signup" method="post">
        <div class="form-group">
          <label for="name"></label>
          <div class="input-with-icon">
            <input
              type="text"
              id="name"
              name="username"
              placeholder="Enter your username"
              required
              autocomplete="off"
            />
            <span class="input-icon-username"></span>
          </div>
        </div>

      <div class="form-group">
        <label for="password"></label>
        <div class="input-with-icon">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter your password"
            required
          />
          <span class="input-icon-password"></span>
        </div>
      </div>

      
        <div class="container-submit-btn">
          <button class="submit-btn">Sign up</button>
        </div>
      </form>
      <p>Already have an account? <a href="/login">Log in</a></p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.23/vanta.net.min.js"></script>
    <script>
      VANTA.NET({
        el: "#backgroud",
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 200.0,
        minWidth: 200.0,
        scale: 1.0,
        scaleMobile: 1.0,
        color: 0x31a121,
        backgroundColor: 0x000000,
      });

      document.addEventListener("DOMContentLoaded", function () {
        document.querySelector(".form-container").classList.add("show");
        document.querySelector(".login-signup").classList.add("show");
      });
    </script>

  </body>

  </html>
