<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User cannot be found</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>

    <div class="user-notfound-container">
        <h1>Unfortunately...</h1>
        <br>
        <h2>User cannot be found.</h2>
        <p>You can <a href="/signup"> sign up here!</a></p>
        <p>Or you can <a href="/"> retry login in.</a></p>
    </div>

  </body>
</html>
