<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User already exists</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
<body>
    
    <div class="user-exists-container">
        <h1>Unfortunately</h1>
        <h2>Username is already taken.</h2>
        <p>Retry creating a <a href="/signup">new account here.</a></p>
    </div>
    
</body>
</html>