<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wrong password</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  
  <body>
    <div class="wrong-password-container">
        <h1>Unfortunately...</h1>
        <br>
        <h2>You have entered a wrong password.</h2>
        <p>Retry log in <a href="/login">here.</a></p>
    </div>


  </body>

  </html>
