* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    min-height: 100%;
  }

  *:focus {
    outline: none;
  }  
  
  #backgroud {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
  }

  .form-container {
    max-width: 400px;
    margin: 150px auto 0px auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 1.5s;
  }
  
  .form-container.show {
    opacity: 1;
  }

  .form-container img {
    max-width: 100%;
    height: auto;
  }

  .error-space {
    background-color: rgb(255, 0, 43);
    width: 250px;
    height: 30px;
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: auto;
    border-radius: 15px;
  }

  .error-msg {
    font-weight: bold;
    
  }

  .error-space p {
    margin-top: 4%;

  }

  .error-space {
    animation: blinker 2s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0.5;
    }
  }


  /* Menu dash - animated button */
.menu-link {
  text-decoration: none;
  display: block; /* Ensuring the anchor tag takes up space */
}

.menu-link .menu-button {
  position: absolute;
  left: 50%;
  top: 130%;
  transform: translate(-50%, -50%);
  width: 50px; /* Adding width */
  transition: 0.5s;
}


.menu-button:before,
.menu-button:after,
.menu-button div {
  background: #850707;
  content: "";
  display: block;
  height: 6px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
}

.menu-button:hover:before {
  transform: translateY(12px) rotate(135deg);
}

.menu-button:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}

.menu-button:hover div {
  transform: scale(0);
}

.menu-link:hover {
  opacity: 1;
  cursor: pointer;
}