@import url("https://unpkg.com/css.gg@2.0.0/icons/css/log-out.css"); /* Sign out icon */
@import url('https://fonts.cdnfonts.com/css/credit-card'); /* Credit card font */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: sans-serif;
  color: #000;
}

#backgroud {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

#menu-backgroud {
  background-color: #171b27;
  border-radius: 40px;
  opacity: 90%;

  width: 80vw;
  height: 90vh;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-logo img {
    width: 20%;
}

#menu-left {
}

#menu-center, #window-center-1, #window-center-2, #window-center-3, #menu-right, #menu-profile-right, #window-right-helper {
  background-color: #252d39;
  border-radius: 40px;
  opacity: 90%;
  position: fixed;
}

#menu-center {
  width: 90vh;
  height: 60vh;
  top: 33%;
  left: 25%;
  transform: translate(-50%, -50%);
}

#window-center-1 {
  width: 12vw;
  height: 15vh;
  top: 15%;
  left: 26%;
  transform: translate(-50%, -50%);
}

#window-center-2 {
  width: 12vw;
  height: 15vh;
  top: 15%;
  left: 41%;
  transform: translate(-50%, -50%);
}

#window-center-3 {
  width: 12vw;
  height: 15vh;
  top: 15%;
  left: 55%;
  transform: translate(-50%, -50%);
}

#menu-right {
  width: 35vh;
  height: 50vh;
  top: 20%;
  right: 12%;
  transform: translate(50%, -50%);
}

#menu-profile-right {
  background-color: transparent;
  text-indent: 25%;
  font-size: 18px;
  color: #fff;

  width: 35vh;
  height: 5vh;

  margin: auto;
  justify-content: left;
  align-items: center;
  display: flex;

  position: absolute;
  top: 9%;
  right: 11%;
  transform: translate(-50%, -50%);
}


#menu-profile-right p {
    color: #fff;
}

#menu-profile-right img {
    width: 15%;
}

#window-right-helper {
  width: 35vh;
  height: 20vh;
  top: 72%;
  right: 12%;
  transform: translate(0, 50%);
}

.credit-card {
  height: 160px;
  width: 253.76px;
  background-color: gold;
  border-radius: 25px;
  top: 20%;
  left: 10%;
  position: fixed;
}

/* Card details */
.balance-text, .balance-account, .card-username, .exp-date {
  font-family: 'Credit Card', sans-serif;
  position: absolute;
}

.balance-text {
  top: 15%;
  left: 10%;
}
.balance-account{
  top: 35%;
  left: 10%;
}
.card-username{
  top: 75%;
  left: 10%;
}
.exp-date{
  top: 75%;
  left: 65%;
}

.visa-logo img {
  scale: 15%;
  right: -80%;
  position: absolute;
}

.logout-btn {
  margin: auto;
  justify-content: left;
  align-items: center;
  display: flex;

  position: absolute;
  top: 11%;
  right: 15%;
  transform: translate(-50%, -50%);
}

.logout-btn {
  margin: auto;
  justify-content: left;
  align-items: center;
  display: flex;

  position: absolute;
  top: 12%;
  right: 8%;
  transform: translate(-50%, -50%);
}

.gg-log-out {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 6px;
  height: 16px;
  border: 2px solid;
  border-right: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  margin-left: 180px;
  scale: 2;
  color: #fff;
  transition: color 0.5s ease; /* Added transition for smooth color change */
}

.gg-log-out:hover {
  color: red;
  animation: pulse-animation 2s forwards; /* Added pulse animation */
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px red;
    opacity: 10%;
  }
  100% {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0);
  }
}

/* Divs animation */
#menu-center, #window-center-1, #window-center-2, #window-center-3, #menu-right, #menu-profile-right, #window-right-helper {
  animation: slideIn 2s forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}