@import url("https://unpkg.com/css.gg@2.0.0/icons/css/log-out.css"); /* Sign out icon */
@import url("https://fonts.cdnfonts.com/css/credit-card"); /* Credit card font */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: sans-serif;
  color: #000;
}

#backgroud {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

#menu-backgroud {
  background-color: #171b27;
  border-radius: 40px;
  opacity: 90%;

  width: 80vw;
  height: 90vh;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-logo img {
  width: 20%;
}

/* #menu-left {
} */

#menu-center,
#window-center-1,
#window-center-2,
#window-center-3,
#menu-right,
#menu-profile-right,
#window-right-helper {
  border-radius: 40px;
  opacity: 90%;
  position: fixed;
}

#menu-center {
  width: 90vh;
  height: 60vh;
  top: 33%;
  left: 25%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    180deg,
    rgba(37, 45, 57, 1) 80%,
    rgba(33, 43, 59, 1) 95%
  );
}

#window-center-1,
#window-center-2,
#window-center-3 {
  background: linear-gradient(
    180deg,
    rgba(42, 61, 91, 1) 0%,
    rgba(37, 45, 57, 1) 60%
  );
}

#window-center-1 {
  width: 12vw;
  height: 15vh;
  top: 15%;
  left: 26%;
  transform: translate(-50%, -50%);
}

#window-center-2 {
  width: 12vw;
  height: 15vh;
  top: 15%;
  left: 41%;
  transform: translate(-50%, -50%);
}

#window-center-3 {
  width: 12vw;
  height: 15vh;
  top: 15%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.bitcoin {
  width: 100px;
  height: 100px;
  position: absolute;
}

.ethereum {
  width: 50px;
  height: 50px;
  position: absolute;
  margin-left: 10%;
  margin-top: 10%;
}

.binance {
  width: 50px;
  height: 50px;
  position: absolute;
  margin-left: 10%;
  margin-top: 10%;
}

#window-center-1 p.name,
#window-center-2 p.name,
#window-center-3 p.name {
  color: #fff;
  letter-spacing: 1px;
  margin-top: 90px;
  margin-left: 25px;
}

#window-center-1 p.index,
#window-center-2 p.index,
#window-center-3 p.index {
  color: #fff;
  letter-spacing: 1px;
  margin-left: 25px;
  animation: slideInIndex 2s forwards;
}

#window-center-1 p.coin-price,
#window-center-2 p.coin-price,
#window-center-3 p.coin-price {
  color: #fff;
  letter-spacing: 1px;
  margin-top: -35px;
  margin-left: 120px;
  font-size: 18px;
}

@keyframes slideInIndex {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 0.3;
  }
}

#menu-right {
  width: 35vh;
  height: 50vh;
  top: 20%;
  right: 12%;
  transform: translate(50%, -50%);
  background: linear-gradient(
    180deg,
    rgba(42, 61, 91, 1) 0%,
    #252d39 15%
  );
}

#menu-profile-right {
  background-color: transparent;
  text-indent: 25%;
  font-size: 18px;
  color: #fff;

  width: 35vh;
  height: 5vh;

  margin: auto;
  justify-content: left;
  align-items: center;
  display: flex;

  position: absolute;
  top: 10%;
  right: 11%;
  transform: translate(-50%, -50%);
}

#menu-profile-right p {
  color: #fff;
}

#menu-profile-right img {
  width: 15%;
}

#window-right-helper {
  width: 35vh;
  height: 20vh;
  top: 72%;
  right: 12%;
  transform: translate(0, 50%);
  background: linear-gradient(
    180deg,
    rgba(37, 45, 57, 1) 70%,
    rgba(33, 43, 59, 1) 95%
  );
}

.credit-card {
  height: 160px;
  width: 253.76px;
  background: linear-gradient(
    90deg,
    rgba(199, 168, 0, 1) 0%,
    rgba(191, 161, 0, 1) 22%,
    rgba(255, 215, 0, 1) 100%
  );
  border-radius: 25px;
  top: 20%;
  left: 10%;
  position: fixed;
}

/* Card details */
.balance-text,
.balance-account,
.card-username,
.exp-date {
  font-family: "Credit Card", sans-serif;
  position: absolute;
}

.wallet-text {
  color: #fff;
  position: absolute;
  top: 7%;
  left: 31%;
  font-weight: 500;
  letter-spacing: 2px;
}

.balance-text {
  top: 15%;
  left: 10%;
}
.balance-account {
  top: 35%;
  left: 10%;
}
.card-username {
  top: 75%;
  left: 10%;
}
.exp-date {
  top: 75%;
  left: 65%;
}

.visa-logo img {
  scale: 15%;
  right: -70%;
  position: absolute;
}

.amount-enter {
  position: absolute;
  margin: auto;
  margin-bottom: 10px;
  
  height: 30px;
  width: 150px;
  top: 300px;
  left: 125px;
  
  text-align: center;
  display: flex;
  justify-content: center;

  border: 0px;
  background-color: transparent;
}

.amount-enter input {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}

.deposit-btn {
  position: absolute;
  height: 30px;
  width: 150px;
  top: 350px;
  left: 90px;
  background-color: #004a7f;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% {
    background-color: #31a121;
    -webkit-box-shadow: 0 0 3px #31a121;
  }
  50% {
    background-color: #01ff09;
    -webkit-box-shadow: 0 0 40px #01ff09;
  }
  100% {
    background-color: #31a121;
    -webkit-box-shadow: 0 0 3px #31a121;
  }
}

@-moz-keyframes glowing {
  0% {
    background-color: #31a121;
    -moz-box-shadow: 0 0 3px #31a121;
  }
  50% {
    background-color: #01ff09;
    -moz-box-shadow: 0 0 40px #01ff09;
  }
  100% {
    background-color: #31a121;
    -moz-box-shadow: 0 0 3px #31a121;
  }
}

@-o-keyframes glowing {
  0% {
    background-color: #31a121;
    box-shadow: 0 0 3px #31a121;
  }
  50% {
    background-color: #01ff09;
    box-shadow: 0 0 40px #01ff09;
  }
  100% {
    background-color: #31a121;
    box-shadow: 0 0 3px #31a121;
  }
}

@keyframes glowing {
  0% {
    background-color: #31a121;
    box-shadow: 0 0 3px #31a121;
  }
  50% {
    background-color: #01ff09;
    box-shadow: 0 0 40px #01ff09;
  }
  100% {
    background-color: #31a121;
    box-shadow: 0 0 3px #31a121;
  }
}

.withdraw-btn {
  position: absolute;
  height: 30px;
  width: 150px;
  top: 400px;
  left: 90px;
  background-color: #ff1101;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  display: flex;
  margin: auto;
  font-weight: bold;
  justify-content: center;
  font-size: 16px;
  color: #fff;
  font-family: sans-serif;
  -webkit-animation: glowingred 1500ms infinite;
  -moz-animation: glowingred 1500ms infinite;
  -o-animation: glowingred 1500ms infinite;
  animation: glowingred 1500ms infinite;
}
@-webkit-keyframes glowingred {
  0% {
    background-color: #b20000;
    -webkit-box-shadow: 0 0 3px #b20000;
  }
  50% {
    background-color: #ff0000;
    -webkit-box-shadow: 0 0 40px #ff0000;
  }
  100% {
    background-color: #b20000;
    -webkit-box-shadow: 0 0 3px #b20000;
  }
}

@-moz-keyframes glowingred {
  0% {
    background-color: #b20000;
    -moz-box-shadow: 0 0 3px #b20000;
  }
  50% {
    background-color: #ff0000;
    -moz-box-shadow: 0 0 40px #ff0000;
  }
  100% {
    background-color: #b20000;
    -moz-box-shadow: 0 0 3px #b20000;
  }
}

@-o-keyframes glowingred {
  0% {
    background-color: #b20000;
    box-shadow: 0 0 3px #b20000;
  }
  50% {
    background-color: #ff0000;
    box-shadow: 0 0 40px #ff0000;
  }
  100% {
    background-color: #b20000;
    box-shadow: 0 0 3px #b20000;
  }
}

@keyframes glowingred {
  0% {
    background-color: #b20000;
    box-shadow: 0 0 3px #b20000;
  }
  50% {
    background-color: #ff0000;
    box-shadow: 0 0 40px #ff0000;
  }
  100% {
    background-color: #b20000;
    box-shadow: 0 0 3px #b20000;
  }
}

.logout-btn {
  width: 25px;
  height: 25px;
  margin: auto;
  justify-content: left;
  align-items: center;
  display: flex;

  position: absolute;
  top: 12%;
  right: 12%;
  transform: translate(-50%, -50%);
}

.gg-log-out {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 6px;
  height: 16px;
  border: 2px solid;
  border-right: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  scale: 2;
  color: #fff;
  transition: color 0.5s ease; /* Added transition for smooth color change */
}

.gg-log-out:hover {
  color: red;
  animation: pulse-animation 2s forwards; /* Added pulse animation */
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px red;
    opacity: 10%;
  }
  100% {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0);
  }
}

/* Divs animation */
#menu-center,
#window-center-1,
#window-center-2,
#window-center-3,
#menu-right,
#menu-profile-right,
#window-right-helper,
.bitcoin,
.binance,
.ethereum,
#window-center-1 p.name,
#window-center-2 p.name,
#window-center-3 p.name {
  animation: slideIn 2s forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}



/* CHART CENTER MAIN HOME */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Roboto", sans-serif;
	height: 100vh;
	display: flex;
	align-items: center;
	backgroud-color: #252d39;
	justify-content: center;
}

.main-container {
	background: transparent;
	color: #abafc6;
	border-radius: 5px;
	padding: 20px;
	width: 650px;
	height: 350px;
}

.year-stats {
	white-space: nowrap;
	max-height: 170px;
	overflow: hidden;
}

.year-stats:hover {
	overflow-x: auto;
}

/* SCROLL BAR STYLE (ONLY WORKS IN CHROME) */
/* Width */
::-webkit-scrollbar {
	height: 5px;
	width: 100%;
}

/* Track */
::-webkit-scrollbar-track {
	background: #444e80;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #abafc6;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #5397d6;
}

.month-group {
	cursor: pointer;
	max-width: 400px;
	height: 110px;
	margin: 10px;
	display: inline-block;
}

.bar {
	background-color: #abafc6;
	width: 20px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.month-group:hover .bar,
.selected .bar {
	background: #5397d6;
}

.month-group:hover p,
.selected p {
	color: #fff;
}

.h-25 {
	height: 25%;
}
.h-50 {
	height: 50%;
}
.h-75 {
	height: 75%;
}
.h-100 {
	height: 100%;
}

.stats-info {
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
}

.graph-container {
	position: relative;
}

.percent {
	display: block;
	width: 120px;
	height: 120px;
}

.circle {
	stroke: #915db1;
	fill: none;
	stroke-width: 3;
}

.circle:nth-child(2) {
	stroke: #e59f3c;
}

.circle:nth-child(3) {
	stroke: #5397d6;
}

.circle:nth-child(4) {
	stroke: #4cc790;
}

.graph-container p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 12px;
	color: #fff;
	text-align: center;
}

.info p {
	margin-bottom: 10px;
}

.info span {
	color: #fff;
}
